<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <p id="notice"></p>
      <h3>MACHIあわせへようこそ!</h3>
      <div>
        ※このサイトのお店クーポンなどは架空のものです。<br>
        実際にご利用いただけません。
      </div>
      <br>
      <div>
        MACHIあわせへようこそ！<br>
      このサイトでは待ち合わせ場所を決めて<br>
      みんなと情報を共有することができます。<br>
      <br>
      もし待ち合わせ場所を忘れてしまっても<br>
      再確認が可能なのでご安心ください。<br>
      <br>
      町で使えるクーポンも配布していますので<br>
      待ち合わせの時間潰しや待ち合わせ後の目的地として<br>
      お得に遊びやお買い物をしよう！<br>
      </div>
    </div>
  </div>
</div>
